


ul{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:grey;
	top: 0;
	width: 100%;
	list-style-type: none;
	position: fixed;

}

li{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}


 Change the link color to #111 (black) on hover 
li a:hover{
	background-color: black;
}


.content{
	display: none;
	float: left;
}

.group{
	display:block;
	color:green;
	backgroundcolor:blue;

}

/*space charactor chains selectors*/
.group:hover {
	display: block;
}


.group:hover .content {
	background-color: red;
	display: inline-block;
	position:relative;
}

