body {
    font-family: Arial;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}


.editFieldset{
	background-color:#A8DEDC;	
}


.btn {
  text-decoration: none;
  padding: 0.1rem;
  border: 1px solid #333333;
}
